body {
  padding: 0;
  margin: 0;
  padding-top: 96px;
}

*, *:focus, *:hover {
  outline: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    padding-top: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    padding-top: 96px;
  }
}
* {
  font-family: "Spectral", "Roboto", Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  max-width: 100%;
  width: 100%;
  z-index: 5;
  height: 8em;
  transition: all 200ms ease-out;
  box-shadow: 0 4px 8px 0 #aaaaaa70;
  background-color: #fff;
}
header.scrolled {
  height: 6em;
  transition: all 350ms ease-in-out;
}
header .container {
  max-width: 1400px;
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-content: center;
  padding: 0 20px;
}
header .container .logo {
  max-width: 180px;
}
header .container .shoppingCart {
  width: 3em;
}
header .container a {
  z-index: 2;
}

#productPage header {
  position: inherit;
  box-shadow: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  header {
    height: 6em;
  }
  header.scrolled {
    height: 4.5em;
    transition: all 250ms ease-in-out;
  }
  header .container .logo {
    max-width: 130px;
  }
  header .container .shoppingCart {
    width: 2em;
  }
}
footer {
  background-color: lightgray;
}
footer .copyright {
  display: flex;
  justify-content: center;
  font-size: 1em;
}

.banner {
  position: relative;
  height: 600px;
  overflow: hidden;
}
.banner img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.banner h1 {
  position: absolute;
  top: 200px;
  right: 50px;
  font-size: 4.5em;
  font-weight: 500;
}
.banner h2 {
  position: absolute;
  top: 310px;
  right: 55px;
  font-size: 3em;
  font-weight: 500;
}

#productPage .banner {
  height: 200px;
  background-image: url(../../public/img/cameraRow.jpg);
  background-size: cover;
  background-position: bottom 500px right 0px;
}

@media screen and (min-width: 1024px) and (max-width: 1339px) {
  .banner h1 {
    top: 375px;
    font-size: 3.5em;
  }
  .banner h2 {
    top: 465px;
    font-size: 2em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .banner {
    height: 400px;
  }
  .banner h1 {
    top: 260px;
    font-size: 2.5em;
  }
  .banner h2 {
    top: 325px;
    font-size: 1.4em;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner {
    height: 200px;
  }
  .banner img {
    position: relative;
    left: -80px;
    width: 125%;
  }
  .banner h1 {
    top: 118px;
    right: 15px;
    font-size: 1.4em;
  }
  .banner h2 {
    top: 150px;
    right: 15px;
    font-size: 1em;
  }
}
#productList {
  max-width: 1400px;
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 60px;
  flex-direction: column;
}
#productList .container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

#productPage {
  min-height: 100%;
}
#productPage #productList {
  max-width: 1400px;
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  flex-direction: column;
}
#productPage #productList .container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) and (max-width: 1339px) {
  #productList .container {
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #productList {
    padding: 60px 20px 0 20px;
    justify-content: center;
    align-content: center;
    flex-direction: row;
  }
  #productList .container {
    max-width: 728px;
  }
  #productList .one {
    order: 1;
  }
  #productList .two {
    order: 2;
  }
  #productList .three {
    order: 4;
  }
  #productList .four {
    order: 3;
  }
  #productList .five {
    order: 5;
  }
  #productList .six {
    order: 6;
  }
  #productList .seven {
    order: 8;
  }
  #productList .eight {
    order: 9;
    width: 728px;
    flex-direction: row;
    height: 500px;
    justify-content: space-between;
    height: auto;
  }
  #productList .eight .smallCard {
    width: 100%;
    max-width: 300px;
    height: 227px;
    object-fit: cover;
  }
  #productList .twoCard {
    margin: 10px;
    max-width: 728px;
  }
  #productList .nine {
    order: 7;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  #productList {
    width: 100%;
    padding: 30px;
  }
  #productList .container {
    margin: 0;
    flex-flow: column nowrap;
  }
  #productList .twoCard {
    display: none;
  }
  #productList .bigCard {
    display: none;
  }
}
#productPage {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0px;
}
#productPage #productDetail {
  display: flex;
  max-width: 1400px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 0px;
}
#productPage #productDetail .horizontalCard {
  margin: 0 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #productPage #productDetail .horizontalCard {
    margin: 0 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  #productPage #productDetail .horizontalCard {
    margin: 0px;
  }
}
#cart {
  max-width: 800px;
  margin: auto;
  padding: 50px 0;
}
#cart .submit {
  padding-top: 30px;
  margin: auto;
}

.card {
  box-shadow: 0 4px 8px 0 #aaaaaa70;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-color: white;
  margin: 10px;
  max-height: 600px;
}
.card .cardImage {
  max-height: 250px;
  height: 100%;
  object-fit: cover;
}
.card .cardText {
  height: 100%;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.card .cardText h3 {
  margin: 0 0 10px 0;
  font-size: 2em;
}
.card .cardText p {
  margin: 10px 0 5px 0;
  font-size: 1.1em;
}
.card .cardText strong {
  font-size: 1.5em;
}
.card .action {
  display: flex;
  margin: 10px 0;
}

.twoCard {
  max-width: 400px;
  height: 600px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.twoCard .smallCard {
  width: 100%;
  height: 100%;
  max-height: 250px;
  object-fit: cover;
}

.bigCard {
  margin: 10px;
  width: 100%;
  max-width: 400px;
  max-height: 550px;
  object-fit: cover;
}

@media screen and (min-width: 1024px) and (max-width: 1339px) {
  .card {
    max-width: 300px;
  }
  .card .cardImage {
    height: 100%;
    max-height: 200px;
  }
  .card .cardText {
    height: 100%;
    max-height: 350px;
  }
  .card .cardText h3 {
    font-size: 1.7em;
  }

  .twoCard {
    max-width: 300px;
  }
  .twoCard .smallCard {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }

  .bigCard {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 550px;
    object-fit: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    max-width: 300px;
    height: 500px;
    margin-bottom: 30px;
    margin: 10px;
  }
  .card .cardImage {
    max-height: 200px;
    height: 100%;
  }
  .card .cardText {
    padding: 10px;
  }
  .card .cardText h3 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
  }
  .card .cardText p {
    margin: 10px 0;
    font-size: 1em;
  }
  .card .cardText strong {
    font-size: 1.2em;
  }
  .card .action {
    margin: 0;
  }

  .twoCard {
    height: 500px;
    justify-content: space-between;
  }
  .twoCard .smallCard {
    width: 100%;
    max-width: 300px;
    height: 227px;
    object-fit: cover;
  }

  .bigCard {
    margin: 10px;
    width: 100%;
    max-width: 300px;
    height: 500px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .card {
    width: 100%;
    height: 500px;
    margin: 0 0 20px 0;
  }
  .card .cardImage {
    max-height: 200px;
  }
  .card .cardText {
    max-height: 300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .card .cardText h3 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
  }
  .card .cardText p {
    text-align: center;
    margin: 10px 0;
    font-size: 1em;
  }
  .card .cardText strong {
    font-size: 1.3em;
  }

  .twoCard {
    height: 500px;
  }
  .twoCard .smallCard {
    width: 100%;
    max-width: 300px;
    max-height: 200px;
    object-fit: cover;
  }

  .bigCard {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 550px;
    object-fit: cover;
  }
}
.horizontalCard {
  display: flex;
  flex-direction: row;
}
.horizontalCard .cardImage {
  object-fit: cover;
  max-width: 700px;
  width: 100%;
  margin-right: 40px;
}
.horizontalCard .cardText {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  font-size: 1.2em;
}
.horizontalCard .cardText h3 {
  margin: 20px 0px;
  font-size: 2.7em;
}
.horizontalCard .cardText .cameraLens {
  font-size: 1.2em;
  max-width: 200px;
}
.horizontalCard .cardText strong {
  font-size: 1.8em;
}
.horizontalCard .cardText .addCart {
  margin: 0 20px 0 0;
  font-size: 1em;
}
.horizontalCard .cardText .action {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1339px) {
  .horizontalCard .cardImage {
    max-width: 400px;
    width: 100%;
    margin-right: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .horizontalCard {
    flex-direction: column;
  }
  .horizontalCard .cardImage {
    max-width: 100%;
    width: 100%;
    margin-right: 0px;
  }
  .horizontalCard .cardText {
    text-align: center;
    align-items: center;
  }
  .horizontalCard .action {
    justify-content: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .horizontalCard {
    max-width: 100%;
    flex-direction: column;
  }
  .horizontalCard .cardImage {
    max-width: 100%;
    width: 100%;
    margin-right: 0px;
  }
  .horizontalCard .cardText {
    text-align: center;
    padding: 0 20px;
    align-items: center;
  }
  .horizontalCard .cardText .action {
    max-width: 100%;
    justify-content: center;
  }
  .horizontalCard .cardText .addCart {
    margin: 0 20px 0 0;
    font-size: 1em;
  }
  .horizontalCard .cardText .addCart p {
    display: none;
  }
}
.button {
  font-size: 1.3em;
  font-weight: 400;
  padding: 15px;
  background-color: #cc7d48;
  border: 0px;
  cursor: pointer;
  transition: ease-in-out 0.15s;
  display: flex;
  align-items: center;
}
.button:hover {
  transform: translateY(-0.2em);
}

.addCart {
  padding: 15px 20px;
  margin-left: 15px;
}
.addCart img {
  margin: 0 10px;
  position: relative;
  width: 30px;
}

.quantity label {
  margin-right: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .button {
    font-size: 1em;
    font-weight: 400;
    padding: 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .button {
    font-size: 1em;
    font-weight: 400;
    padding: 10px;
  }

  .addCart img {
    margin: 0;
  }
}
.product {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 #aaaaaa70;
}
.product img {
  max-width: 250px;
  width: 100%;
}
.product .description {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
  padding: 0 20px 20px 20px;
  top: 5px;
}
.product .description h3 {
  font-size: 1.5em;
  width: 100%;
}
.product .description svg {
  width: 24px;
  height: auto;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.product .description .price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}
.product .description .price p {
  margin: 0 10px;
}

.form {
  display: flex;
  flex-flow: row wrap;
}
.form .duoField {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}
.form .duoField .field {
  width: 45%;
}
.form .field {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  width: 100%;
  margin-right: 10px;
  margin: 10px 0;
}
.form .field input {
  width: 100%;
  height: 35px;
  border: 1px solid #7c7c7c;
}
.form .field label {
  position: absolute;
  top: 5px;
  left: 10px;
}

/*# sourceMappingURL=style.css.map */
