.addCart {
    position: relative;
    max-width: 220px;
    width: 100%;
    height: 60px;
    border: 0;
    padding: 15px 20px;
    margin-left: 15px;
    background-color: $primary-color;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    overflow: hidden;

    img {
        width: 25px;
    }

    &:active {
        transform: scale(0.9);
    }

    .faShoppingCart {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: -15%;
        font-size: 2em;
        transform: translate(-50%, -50%);
    }

    .fa-camera {
        position: absolute;
        z-index: 3;
        top: -20%;
        left: 60%;
        font-size: 0.6em;
        transform: translate(-50%, -50%);
    }

    .shoppingCart {
        position: absolute;
        left: 82%;
    }

    span {
        width: 100%;
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 50%;
        font-size: 1em;
        transform: translate(-50%, -50%);

        &.addToCart {
            display: flex;
            align-items: center;
            padding-left: 15px;
            justify-content: flex-start;
            opacity: 1;
        }
        &.addedToCart {
            opacity: 0;
        }
    }

    &.clicked .faShoppingCart {
        animation: cart 1.5s ease-in-out forwards;
    }

    &.clicked .fa-camera {
        animation: camera 1.5s ease-in-out forwards;
    }

    &.clicked span.addToCart {
        animation: txt1 1.5s ease-in-out forwards;
    }

    &.clicked span.addedToCart {
        animation: txt2 1.5s ease-in-out forwards;
    }

    &.clicked .shoppingCart {
        animation: firstCart 1.5s ease-in-out forwards;
    }
}

@keyframes firstCart {
    0% {
        left: 82%;
    }
    10% {
        left: 100%;
    }
    100% {
        left: 120%;
    }
}
@keyframes cart {
    0% {
        left: -10%;
    }
    40%,
    60% {
        left: 50%;
    }
    100% {
        left: 110%;
    }
}
@keyframes camera {
    0%,
    40% {
        top: -20%;
    }
    60% {
        top: 38%;
        left: 51%;
    }
    100% {
        top: 38%;
        left: 111%;
    }
}
@keyframes txt1 {
    0% {
        opacity: 1;
    }
    20%,
    100% {
        opacity: 0;
    }
}
@keyframes txt2 {
    0%,
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include for-phone {
    .addCart {
        img {
            margin: 0;
        }
    }

    #homepage {
        .addCart {
            span.addToCart {
                justify-content: center;
                padding-left: 0px;
            }
            .shoppingCart {
                display: none;
            }
        }
    }
}
