.button {
    font-size: 1.3em;
    font-weight: 400;
    padding: 15px;
    background-color: $primary-color;
    border: 0px;
    cursor: pointer;
    transition: ease-in-out 0.15s;
    display: flex;
    align-items: center;

    &:hover {
        transform: translateY(-0.2em);
    }
}

.addCart {
    padding: 15px 20px;
    margin-left: 15px;

    img {
        margin: 0 10px;
        position: relative;
        width: 30px;
    }
}

.quantity {
    label {
        margin-right: 5px;
    }
}

@include for-tablet {
    .button {
        font-size: 1em;
        font-weight: 400;
        padding: 10px;
    }
}

@include for-phone {
    .button {
        font-size: 1em;
        font-weight: 400;
        padding: 10px;
    }

    .addCart {
        img {
            margin: 0;
        }
    }
}
