.product {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-bottom: 30px;
    @include shadowALT;
    min-height: 165px;

    img {
        max-width: 250px;
        width: 100%;
        object-fit: cover;
    }

    .description {
        display: flex;
        flex-flow: row wrap;
        position: relative;
        width: 100%;
        padding: 0 20px 10px 20px;
        top: 5px;

        h3 {
            margin-top: 15px;
            font-size: 1.5em;
            width: 100%;
        }

        .delete {
            width: 24px;
            height: auto;
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

        .priceQty {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            width: 100%;

            p {
                margin: 0 10px;
            }

            .quantity {
            }
        }
    }
}

@include for-phone {
    .product {
        flex-flow: column nowrap;

        img {
            max-width: 100%;
        }

        h3 {
            margin-top: 10px;
        }

        .description {
            .priceQty {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    margin: 0 10px 0 0;
                }
            }
        }
    }
}
