.product {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-bottom: 30px;
    @include shadowALT;

    img {
        max-width: 250px;
        width: 100%;
    }

    .description {
        display: flex;
        flex-flow: row wrap;
        position: relative;
        width: 100%;
        padding: 0 20px 20px 20px;
        top: 5px;

        h3 {
            font-size: 1.5em;
            width: 100%;
        }

        svg {
            width: 24px;
            object-fit: contain;
            height: auto;
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

        .price {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;
            width: 100%;

            p {
                margin: 0 10px;
            }
        }
    }
}

@include for-phone {
    .product {
        flex-flow: column nowrap;

        img {
            max-width: 100%;
        }

        h3 {
            margin-top: 10px;
        }

        .description {
            .price {
                justify-content: flex-start;

                p {
                    margin: 0 10px 0 0;
                }
            }
        }
    }
}
