body{
    padding: 0;
    margin: 0;
    padding-top: 96px;
}

*,*:focus,*:hover{
    outline:none;
}

*{
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

@include for-phone{
    body{
        padding-top: 72px;
    }
}

@include for-tablet{
    body{
        padding-top: 96px;
    }
}