#cart {
    max-width: 800px;
    margin: auto;
    padding: 50px 30px;

    #form {
        margin: auto;
        margin-top: 20px;
    }

    #submit {
        padding-top: 30px;
        margin: auto;
    }
}
